 /* Hide scrollbar for Chrome, Safari and Opera */
 .fraktal::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .fraktal {
    -ms-overflow-style: none;
  } 

  #p{
    text-indent: 0;
    color: goldenrod;
    text-align: justify;
    text-indent: 30px;
  }

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: yellow;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: green;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  } 

#jogador{
  position: absolute;
  position: sticky;
  top:0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: red;
  display: none;

}

